<%
=begin%>
 <h1>Meta Ads Data</h1>

<table>
  <thead>
    <tr>
      <th>Ad Account ID</th>
      <th>Account Name</th>
      <th>Account Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ads_data[:account_id] %></td>
      <td><%= @ads_data[:app_name] %></td>
      <td><%= @ads_data[:app_status] %></td>
    </tr>
  </tbody>
</table>
<%
=end%>
